.container-f {
    margin-top: 100px;
    
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 5px;
  }

.container-center{
    width: 600px;
    /* height: 600px; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}