.container{
    display: inline-block;
}

.space{
    margin-top: 100px;
    margin-bottom: 70px;
}

.products-list {
    margin-top: 2rem;
}

#overlay {
    width: 100px;
    height: 100px;
   align-items: center;
    z-index: 1;
    position:absolute;
    top:450px;
    left:450px;
  }