<div class="container-f">
    
    <h3 class="header-">Add product</h3>

    <div class="container">
    <form action="/action_page.php">
        <label for="pname">Product Name</label>
        <input type="text" id="pname" name="productname" 
        placeholder="Product name..">

        <label for="price">Price</label>
        <input type="text" id="price" name="price" 
        placeholder="€.">

        <label for="foodstuff">Food Stuff</label>
        <select id="foodstuff" name="foodstuff">
        <option value="pasta">pasta</option>
        <option value="water">water</option>
        <option value="fish">fish</option>
        <option value="chocolate">chocolate</option>
        </select>

        <label for="description">Product description</label>
        <textarea id="subject" name="subject" 
        placeholder="Write something.." 
        style="height:100px"></textarea>

        <input type="submit" value="Submit">
    </form>
    </div>
</div>
