<div class="container-card">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle> <b>{{product.price}}€ </b></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/{{product.foodstuff}}Folder/{{product.name}}.png" 
        alt="Photo of a {{product.name}}">
        <mat-card-content>
          <p class="description">
            {{product.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button pButton type="button" label="BUY" 
            class="p-button-outlined p-button-rounded"></button>
          <button *ngIf="role == 'ADMIN'" mat-button pButton class="p-button-outlined p-button-danger
          p-button-rounded" (click)="deleteProduct(product)" >
              DELETE</button>
        </mat-card-actions>
      </mat-card>
    
    </div>
    <!--
        <p-card header="{{product.name}}" 
        subheader="{{product.price}}€" 
        [style]="{width: '290px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/{{product.foodstuff}}Folder/{{product.name}}.png">
            </ng-template>
            <p>
                {{product.description}}
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" 
                    styleClass="p-button-secondary" 
                    [style]="{'margin-left': '.5em'}">
                </p-button>
            </ng-template>
        </p-card>
    -->
    



