.bg-dark {
    background-color: #212529 !important;
  }

  .container-header{
    margin-top: 3rem;
  }

  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }

  .text-center {
    text-align: center !important;
  }

  .text-white {
    color: #fff !important;
  }

  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }

  .fw-bolder {
    font-weight: bolder !important;
  }
  
  .fw-normal {
    font-weight: 400 !important;
  }